:root {
    --blue: #005a94;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c43e3e;
    --orange: #e98300;
    --yellow: #ffc107;
    --green: #687550;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #2067a2;
    --secondary: #6d6e6d;
    --success: #ccf4ea;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #aa2312;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(109.6deg, rgb(235, 173, 254) 11.2%, rgb(254, 150, 150) 90.4%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    text-align: center;
    padding: 20px 0;
    color: var(--gray-dark);
    width: 100%;
    box-sizing: border-box;
}

#flexboxcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.flex-flow-left, .flex-flow-right {
    width: 100%;
    max-width: 580px;
    padding: 20px;
    box-sizing: border-box;
}

.outputSection {
    flex: 1 1 100%;
    padding: 20px;
    display: none; /* Initially hidden, to be shown on clicking "Generate" */
    box-sizing: border-box;
}

.inputForm, .outputForm {
    width: 100%;
    max-width: none;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.labelText {
    font-weight: bold;
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.inputInput, .textarea, select {
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 5px;
}

.textarea {
    height: 80px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.button {
    height: 40px;
    width: 100%;
    max-width: 300px;
    background-color: var(--primary);
    color: var(--light);
    font-family: inherit;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.button:hover {
    background-color: var(--blue);
}

.button:active {
    background-color: var(--gray);
}

p {
    font-weight: bold;
    margin: 10px 0;
}

#outputText {
    max-width: 100%;
    padding: 20px;
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.hidden {
    display: none;
}

#ifSecurityOpt {
    color: var(--danger);
    font-size: 16px;
    font-weight: bold;
}

.componentText {
    font-weight: bold;
    font-size: 16px;
    color: var(--gray-dark);
    margin: 10px 0;
}

@media (max-width: 768px) {
    .flex-flow-left, .flex-flow-right, .outputSection {
        max-width: 100%;
    }
    
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .labelText {
        width: auto;
        text-align: left;
        margin-bottom: 5px;
    }
}
